{% extends 'pages/scripts.html' %}
{% load static %}

{% block title %}
<title>Register</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}

<body class="bg-image">
    <div class="logIn">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">SIGN UP</h1>
          <form method="POST">
            {% csrf_token %}
            {% comment %} <div class="row">
              <div class="col-md-12 mt-2">
               <label for="" class="form-label">Name:</label>
               {{form.mp_name}}
              </div>
              <div class="col-md-12 mt-2">
               <label for="" class="form-label">Username:</label>
               {{form.mp_username}}
              </div>
              <div class="col-md-12 my-2">
               <label for="" class="form-label">Password:</label>
               {{form.mp_password}}
              </div> {% endcomment %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
</div>    

</body>


{% endblock content %}