@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

li, a {
  font-size: 18px;
  margin: 0px 12px 0px 0px;
}

.card {
  border-right-color: #198754;
  border-right-width: 10px;
}

.image {
  background-color: rgba(0,0,0,.2);
  width: 100%;
  background-size: cover;
  overflow: auto;
}

.violet {
  background-color: #c8b6ff !important;
}

.parent {
  min-height: 100vh;
  width: 400px;
}
.parent2 {
  min-height: 100vh;
  width: 750px;
}

.login {
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 16px;
}

header {
  font-weight: 800 !important;
  color: #198754 !important;
  text-align: center !important;
}

.display-6, label {
  font-weight: 600 !important;
  color: #000 !important;
}

.navbar-brand {
  font-weight: 600 !important;
  color: #fff !important;
}

.navbar-nav li a {
  transition: all 0.3s ease 0s !important;
}

.navbar-nav li a:hover{
  color: #57E86B !important;
  opacity: 1 !important;
}

.logo {
  width: 160px;
  height: 64px;
  margin-right: 10px;
  z-index: 2;
  /* image cannot be drag or selected 
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  */
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.form-control#password {
  border-radius: .25rem;
  position: relative;
}

.fa-solid.fa-eye, .fa-solid.fa-eye-slash {
  padding-top: 10px;
  padding: 0;
  border-left: none;
  cursor: pointer;
  position: absolute;
  margin-left: -30px;
  margin-top: 10px;
}

.btn.btn-success:hover {
  background-color: #57E86B !important;
  color: #000 !important;
  opacity: 0.8 !important;
}

@media screen and (max-width: 600px) {
  .parent2 {
    width: 80%;
  }
}