{% extends 'pages/scripts.html' %}
{% load static %}

{% block title %}
<title>Admin | Add Items</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body>
  {% include 'pages/sidebar.html' %} 
    <!-- TABLE ADD ITEMS -->
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="mt-1 mb-1">ITEM LISTS</h4>
        </div>
        <div class="col-lg-5" style="display: inline-flex;">
          <input type="text" class="form-control" id="searchNames" onkeyup="search(0)" placeholder="Search items...">
          <span class="input-group-text bg-danger text-white"><i class='bx bx-search-alt-2 nav_logo-icon'></i></span>
        </div>
      </div>
      <div class="tableData overflow-auto">
        <table class="table mt-4 table-hover" id="myTable">
          <thead class="table-dark">
            <tr>
              <th scope="col">ITEM NAME</th>
              {% comment %} <th scope="col">UNIT</th> {% endcomment %}
              <th scope="col">QUANTITY</th>
              
            </tr>
          </thead>
          <tbody id="additemsTable">
            <tr>
            {% if items %}
            {% for x in items %}
            <td>
               {{x.item_name}}
            </td>
            <td>{{x.item_quantity}} {{x.item_unit}}</td>
            
          </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#additemsModal">Add Items</button>
  <button type="button" class="btn btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#addsuppliesModal">Add Supplies</button>

  <!--MODAL ADD SUPPLIES-->
  {% include 'pages/modals/addSupplies-modal.html' %}
  

  <!--ADD ITEMS MODAL-->
  {% include 'pages/modals/additems-modal.html' %} 
  {% comment %} {% include 'pages/modals/addSupplies-modal.html' %} {% endcomment %}


  </section>
</body>

{% endblock content %}