{% extends 'pages/scripts.html' %}
{% load static %}

{% block title %}
<title>Admin | Borrowed</title>
{% endblock title %}

{% block content %}
<body>
  {% include 'pages/sidebar.html' %} 
    <!-- TABLE BORROWED -->
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="mt-1 mb-1">ITEMS REQUEST</h4>
        </div>
        <div class="col-lg-5" style="display: inline-flex;">
          <input type="text" class="form-control" id="searchNames" onkeyup="search(0)" placeholder="Search name...">
          <span class="input-group-text bg-danger text-white"><i class='bx bx-search-alt-2 nav_logo-icon'></i></span>
        </div>
      </div>
      <div class="tableData overflow-auto">
        <table class="table mt-4 table-hover" id="myTable">
          <thead class="table-dark">
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">FORM</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <!--BORROWED MODAL-->
    {% include 'pages/modals/vehicle-modal.html' %}
    
  </section>
</body>
{% endblock content %}