{% extends 'pages/scripts.html' %}
{% load static %}

{% block title %}
<title>Admin | Personnel List</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body>
  {% include 'pages/sidebar.html' %} 
    <!-- JANITOR'S LIST -->
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="mt-1 mb-1">MAINTENANCE PERSONNEL LIST</h4>
        </div>
        <div class="col-lg-5" style="display: inline-flex;">
          <input type="text" class="form-control" id="searchNames" onkeyup="search(0)" placeholder="Search items...">
          <span class="input-group-text bg-danger text-white"><i class='bx bx-search-alt-2 nav_logo-icon'></i></span>
        </div>
      </div>
      <div class="tableData overflow-auto">
        <table class="table mt-4 table-hover" id="myTable">
          <thead class="table-dark">
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">STATUS</th>
            </tr>
          </thead>
          <tbody id="janitorlistTable">
            <tr>
              {% if mp %}
              {% for x in mp %}
              <td>
                <a href="person={{x.id}}" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#statusModal{{x.id}}">{{x.mp_name}}</a>
              </td> 
              {% include 'pages/modals/status-modal.html' %}
              <td>
                  {{x.mp_status}}
              </td>
            </tr>
              {% endfor %}
              {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#maintelistModal">Add Personnel</button>
  </div>

  <!--MODAL ADD JANITOR-->
  {% include 'pages/modals/maintePersonnelList-modal.html' %}
  
  </section>
</body>
{% endblock content %}