{% extends 'pages/scripts.html' %}
{% load static %}

{% block title %}
<title>Assistant Director | Vehicle Request</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body>
  {% include 'pages/sidebar.html' %} 
    <!-- TABLE VEHICLE RESERVATION -->
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="mt-1 mb-1">VEHICLE RESERVATION</h4>
        </div>
        <div class="col-lg-5" style="display: inline-flex;">
          <input type="text" class="form-control" id="searchNames" onkeyup="search(0)" placeholder="Search name...">
          <span class="input-group-text bg-danger text-white"><i class='bx bx-search-alt-2 nav_logo-icon'></i></span>
        </div>
      </div>
      <div class="tableData overflow-auto">
        <table class="table mt-4 table-hover" id="myTable">
          <thead class="table-dark">
            <tr>
              <th scope="col">NAME</th>
              {% comment %} <th scope="col">FORM</th> {% endcomment %}
              <th scope="col">STATUS</th>
            </tr>
          </thead>
          <tbody id="vehicleTable">
            {% for x in vehicles %}
            <tr>
              <td>
                <a href="request={{x.id}}" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#vehiclerequestModal{{x.id}}">{{x.req_name}}</a>
              </td>
              <td>
                {{x.status}}
              </td>

              <!--VEHICLE REQUEST-->
              {% include 'pages/modals/vehicle-modal.html' %}
              {% comment %} {% include 'pages/modals/remark-modal.html' %} {% endcomment %}
              
            </tr>
            {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>

  </section>
</body>
{% endblock content %}