{% load static %}

{% if user.userType == 'ADMIN' %}
<div class="sidebar close">
  <div class="logo-details">
    <img src="{% static 'media/TUP-LOGO-modified.png' %}" alt="logImg">
    <span class="logo_name">Auxiliary <br> System</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="{% url 'admin-homepage' %}">
        <i class='bx bx-home-alt nav_icon' ></i>
        <span class="link_name">Home</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'admin-homepage' %}">Home</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class='bx bx-note nav_icon'></i>
          <span class="link_name">Inventory</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" >Inventory</a></li>
        <li><a href="{% url 'add-items' %}">Add Items</a></li>
        <li><a href="{% url 'borrowed' %}">Request Items</a></li>
        
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class='bx bx-user nav_icon'></i>
          <span class="link_name">Personnels</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" >Personnels</a></li>
        <li><a href="{% url 'utility-personnel-list' %}">Utility Personnel List</a></li>
        <li><a href="{% url 'maintenance-personnel-list' %}">Maintenace Personnel List</a></li>

      </ul>
    </li>
    <li>
      <a href="{% url 'minor-repair' %}">
        <i class='bx bx-wrench'></i>
        <span class="link_name">Minor Repair</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'minor-repair' %}">Minor Repair</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'history' %}">
        <i class='bx bx-history'></i>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'history' %}">History</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'camera' %}">
        <i class='bx bx-video-plus' ></i>
        <span class="link_name">Camera</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'camera' %}">Camera</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'logoutUser' %}">
        <p class='bx bx-log-out' ></p>
        <p class="link_name">Logout</p>
      </a>
    </li>
  </ul>    
</div>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' ></i>
  </div>
{% elif user.userType == 'ASSISTANT_DIRECTOR' %}

<div class="sidebar close">
    <div class="logo-details">
      <img src="{% static 'media/TUP-LOGO-modified.png' %}" alt="logImg">
      <span class="logo_name">Auxiliary <br> System</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{% url 'vehicle' %}">
          <i class='bx bx-home-alt nav_icon'></i>
          <span class="link_name">Vehicle Reservation</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'vehicle' %}">Vehicle Reservation</a></li>
        </ul>
      </li>
      <li>
        <a href="{% url 'history' %}">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'history' %}">History</a></li>
        </ul>
      </li>    
      <li>
        <a href="{% url 'logoutUser' %}">
          <p class='bx bx-log-out' ></p>
          <p class="link_name">Logout</p>
        </a>
      </li>
    </ul>    
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
    </div>
{% elif user.userType == 'MAINTENANCE' %}
{% endif %}