<header><strong>APPROVAL</strong></header>
<hr>
<form method="POST">
    {% csrf_token %}
    <div class="row">
    {{forms.prove}}
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <label>HEAD, AUXILIARY SERVICES</label>
            <div>{{forms.head}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Feedback</label>
            <div>{{forms.optional}}</div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">SUBMIT</button>

</form>