{% extends 'pages/scripts4.html' %}
{% load static %}

{% block title %}
<title>Admin | Approval Form </title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body class="images">
    <div class="logIn">
        <div class="card">
            <div class="card-body">
                <header><strong>APPROVAL</strong></header>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                    {{forms.prove}}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>HEAD, AUXILIARY SERVICES</label>
                        {{forms.head}}
                        </div>
                    </div>
                    <br>
                    <br>                
                    <button class="btn btn-success" type="submit">SUBMIT</button>               
                </form>
            </div>
        </div>
    </div>    
</body>
{% endblock content %}
