{% extends 'pages/scripts2.html' %}
{% load static %}

{% block title %}
<title>Utility Personnel | Borrow Items</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body class="images">
    <form method="POST">
      {% csrf_token %}
        <div class="parent2 container d-flex justify-content-center align-items-center h-100 my-5">
            <div class="card violet pb-3">
                <div class="card-body">
                    <header><strong>REQUEST ITEM</strong></header>
                    {% for message in messages %}
                    {% if borrow.up_code == code %}
                      <div class="alert alert-primary">
                        {{ message }}
                      </div>
                    {%else%}
                      <div class="alert alert-danger">
                        {{ message }}
                      </div>
                    {%endif%}
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="name">Name</label><br>
                            <select class="form-select" name="name" id="">
                                <option disabled selected>Choose a Janitor</option>
                                {% for x in up %}
                                {%if x.up_status == 'ACTIVE'%}
                                <option value={{x.id}}>
                                  {{x.up_name}}
                                </option>
                                {% endif %}
                                {% endfor %}  
                            </select>
                        </div>
                        
                        <div class="col-sm-6">
                            <label for="pin">PIN</label>
                            {{form.up_code}}
                            <!--<input class="form-control" type="number" name="pin" id="" placeholder="enter your pin">-->
                        </div>
                    </div>
                    <br>
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th scope="col">Items</th>
                            <th scope="col">Available</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            {% if items %}
                            {% for x in items %}
                            <td>
                               {{x.item_name}}
                            </td>
                            <td>{{x.item_quantity}} {{x.item_unit}}</td>
                            <td><input class="form-control" type="number" name="{{x.item_name}}" id="{{x.item_name}}" value="0"></td>
                          </tr>
                            {% endfor %}
                            {% endif %}
                          </tr>
                        </tbody>
                      </table>
                </div>
                <button class="btn btn-success btn w-50 mx-auto rounded-pill login">SUBMIT</button>
            </div>
        </div>
    </form>
</body>
{% endblock content %}