{% extends 'pages/scripts2.html' %}
{% load static %}

{% block title %}
<title>Request | Minor Repair Form</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body class="images">
    <form action="{% url 'client-form' %}" method="POST">
        {% csrf_token %}
        <div class="container d-flex justify-content-center align-items-center h-100 my-4">
            <div class="card pb-3">
                <div class="card-body">
                    <header><strong>REQUESTED BY</strong></header>
                    <div class="row">
                        <div class="col-sm-8">
                            <label>NAME</label>
                            {{form.name}}
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                        <div class="col-sm-4">
                            <label>POSITION/TITLE</label>
                            {{form.position}}
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-sm">
                            <label>DEPARTMENT</label>
                            {{form.department}}
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                    </div>
                    <header><strong>DESCRIPTION OF PROPERTY</strong></header>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>TYPE</label>
                            {{form.prop_type}}
                            <!-- <input type="text" class="form-control"> -->
                            <label>SERIAL NO.</label>
                            {{form.serial}}
                            <!-- <input type="text" class="form-control"> -->
                            <label>ACQUISITION DATE</label>
                            {{form.acq_date}}
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                        <div class="col-sm-6">
                            <label>BRAND MODEL</label>
                            {{form.brand}}
                            <!-- <input type="text" class="form-control"> -->
                            <label>PROPERTY NO</label>
                            {{form.prop_no}}
                            <!-- <input type="text" class="form-control"> -->
                            <label>ACQUISITION COST</label>
                            {{form.acq_cost}}
                            <!-- <input type="text" class="form-control"> -->
                        </div>
                    </div>
                    <header><strong>DEFECTS AND COMPLAINTS</strong></header>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            <label>NATURE AND SCOPE OF WORK TO BE DONE</label>
                            {{form.defect}}
                            <!-- <textarea class="form-control"></textarea> -->
                        </div>
                    </div>
                <button type="submit" class="btn btn-success btn w-50 mx-auto rounded-pill login">SUBMIT</button>
            </div>
        </div>
    </form>
</body>
{% endblock content %}
                