{% extends 'pages/scripts2.html' %}
{% load static %}

{% block title %}
<title>Request | Vehicle Form</title>
<link rel="icon" href= "{% static 'media/TUP-LOGO-modified.png'  %}">
{% endblock title %}

{% block content %}
<body class="images">
    <form method="POST">
        {% csrf_token %}
        <div class="parent2 container d-flex justify-content-center align-items-center h-100">
            <div class="card violet pb-3">
                <div class="card-body">
                    <header><strong>REQUEST FOR VEHICLE RESERVATION FORM</strong></header>
                    {% for message in messages %}
                      <div class="alert alert-primary">
                        {{ message }}
                      </div>
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <label>REQUEST MADE BY</label>
                        {{form.req_name}}
                        <!--<input type="text" class="form-control">-->
                    </div>
                    <div class="row">
                        <label>NO OF PASSENGERS</label>
                        {{form.passengers}}
                        <!--<input type="text" class="form-control">-->
                    </div>
                    <div class="row">
                        <label>DESTINATION</label>
                        {{form.destination}}
                        <!--<input type="text" class="form-control">-->
                    </div>
                    <div class="row">
                        <label>PURPOSE</label>
                        {{form.purpose}}
                        <!--<input type="text" class="form-control">-->
                    </div>
                    <div class="row">
                        <label>DATE/S</label>
                        {{form.date}}
                        <!--<input type="text" class="form-control">-->
                    </div>
                    <div class="row">
                        <label>EMAIL</label>
                        {{form.email}}
                    </div>
                    
                </div>
                <button class="btn btn-success btn w-50 mx-auto rounded-pill login">SUBMIT</button>
            </div>
        </div>
    </form>
</body>
{% endblock content %}