<div class="modal fade" id="additemsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">ADD ITEMS FORM</h5>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <form action="#">
      <div class="row">
        <div class="col-md-12 mt-2">
          <label for="" class="form-label">Item Name</label>
          <input id="name" type="text" class="form-control" name="names" placeholder="Enter Item Name" required>
         </div>
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Unit</label>
        <select id="unit" type="text" list="value" class="form-control" name="units" placeholder="Enter Unit" required>
        <option>Select...</option>
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
        <option> option 4 </option>
        <option> option 5 </option>
        </select>
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Quantity</label>
        <input id="quantity" type="number" class="form-control" name="Quantities" placeholder="Enter Quantity" required>
       </div>
       <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
        <button id="addsupplies" class="btn btn-danger" type="submit" name="additemlists">Add Item Lists</button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>