<div class="modal fade" id="addsuppliesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">ADD QUANTITY FORM</h5>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <form method="POST" action="{% url 'add-supplies' %}">
      {% csrf_token %}
      <div class="row">
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Item Name</label>
        <select id="unit" type="text" list="value" class="form-control" name="items" placeholder="Enter Unit" required>
          <option disabled selected>Choose an item</option> 
          {% for x in items %}
          <option value={{x.id}}>
            {{x.item_name}}
          </option>
          {% endfor %}  
          </select> 
       </div>
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Quantity</label>
        {{form.item_quantity}}
        <!--<input id="quantity" type="number" class="form-control" name="Quantities" placeholder="Enter Quantity" required>-->
       </div>
       <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
        <button id="addsupplies" class="btn btn-danger" type="submit" name="additemlists">Add Quantity Lists</button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>