<div class="modal fade" id="addsuppliesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">ADD SUPPLY FORM</h5>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <form method="POST">
      {% csrf_token %}
      <div class="row">
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Supply Name</label>
        {% comment %} <label for="" class="form-label">Supply Name</label>
        <select id="unit" type="text" list="value" class="form-control" name="units" placeholder="Enter Unit" required>
          {% for x in items %}
          <option value="x.id">
            {{x.item_name}}
          </option>
          {% endfor %}  
          </select> {% endcomment %}
          {{form.item_name}}
       </div>
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Unit</label>
        {% if item_name  %}
        {% else %}
        {% endif %}
        {{form.item_unit}}
       </div>
       <div class="col-md-12 mt-2">
        <!--<label for="" class="form-label">Unit</label>
        <input id="name" type="text" class="form-control" name="names" placeholder="Enter Supply Name" required>-->
       <div class="col-md-12 mt-2">
        <label for="" class="form-label">Quantity</label>
        {{form.item_quantity}}
        <!--<input id="quantity" type="number" class="form-control" name="Quantities" placeholder="Enter Quantity" required>-->
       </div>
       <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
        <button id="addsupplies" class="btn btn-danger" type="submit" name="additemlists">Add Supply Lists</button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>