<div class="modal fade" id="borrowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">BORROW REQUEST</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 mt-2">
              
                <label for="name">Name</label><br>
                <select class="form-select" name="name" id="" disabled>
                    <option value="1">Personnel 1</option>
                    <option value="2">Personnel 2</option>
                    <option value="3">More options</option>
                </select>
            </div>
            
            <div class="col-md-12 mt-2">
                <label for="pin">PIN</label>
                <input class="form-control" type="number" name="pin" id="" value="1234" disabled>
            </div>
        </div>
        <div class="row">
          <!-- <label for="" class="form-label">Unit</label>
          <select id="unit" type="text" list="value" class="form-control" name="units" placeholder="Enter Unit" required>
          <option>Select...</option>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option> option 4 </option>
          <option> option 5 </option>
          </select> -->
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">Items</th>
                <th scope="col">Available</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for x in requests %}
              <tr>
                <td>
                  {{x.item_req}}
               </td>
               <!-- <td>{{x.item_quantity}} {{x.item_unit}}</td>    -->
                          
              </tr>
            </tbody>
            {% endfor %}
          </table>
          <div class="col-md-12 mt-4 mb-2 d-flex justify-content-around">
                <button class="btn btn-success">ACCEPT</button>
                <button class="btn btn-danger">DECLINE</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>