<div class="modal fade" id="historyborrowModal{{x.borrow.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">BORROW REQUEST</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
          {% csrf_token %}
          {% comment %} {% for x in vehicles %} {% endcomment %}

            <label for="name">Utilty Personnel Name</label>
            <input type="text" name="up_name" value="{{x.borrow.utility_personnel.up_name}}" class="form-control" disabled>

            <div class="row mt-3">
              <div class="d-flex justify-content-around">
                <label for="name"><b>Item Name</b</label>
                <label class="text-center" for="name"><b>Borrowed</b></label>
              </div>
            </div> 
            
            {% for key, value in x.borrow.items_req.items %}
            <div class="row mt-3">
              <div class="col-4">                
                <label for="item">{{ key }}</label>
              </div>
              <div class="col">
                <input type="text" name="up_name" value="{{value}}" class="form-control justify-content-around" disabled>
              </div>
            </div>
            {% endfor %}
            <!-- <div class="col-md-12 mt-4 mb-2 d-flex justify-content-around">
                  <a href="/borrowed/a/{{x.id}}"class="btn btn-success">ACCEPT</a>
                  <button class="btn btn-danger">DECLINE</button>
            </div> -->
          </form>
        </div>
    </div>
</div>