{% load static %}
{% block content %}
<div class="modal fade" id="maintelistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">ADD MAINTENANCE PERSONNEL FORM</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="POST">
        {% csrf_token %}
        <div class="row">
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Name</label>
          {{form.mp_name}}
         </div>
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Username</label>
          {{form.mp_username}}
         </div>
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Password</label>
          {{form.mp_password}}
         </div>
         <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
          <button id="janitorlist" class="btn btn-danger" type="submit" name="addmaintelists">Add Maintenance Personnel</button>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
   {% endblock content %}