<div class="modal fade" id="remark" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VEHICLE REQUEST</h5>
        <a type="a" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-12 mt-2">
              <div class="row">
                  <label>REMARKS</label>
                  <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-12 mt-2 d-flex justify-content-around">
              <a href="/vehicle_accept/{{x.id}}" class="btn btn-success">SEND</a>
              <a href="/vehicle_decline/" class="btn btn-danger">CANCEL</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>