<div class="modal fade" id="janitorlistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">ADD JANITOR FORM</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="#">
        <div class="row">
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Name</label>
          <input id="name" type="text" class="form-control" name="names" placeholder="Enter Name" required>
         </div>
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Status</label>
          <input id="status" type="text" class="form-control" name="stat" placeholder="Status" required>
         </div>
         <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
          <button id="janitorlist" class="btn btn-danger" type="submit" name="addjanitorlists">Add Janitor Lists</button>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>