<div class="modal fade" id="vehiclerequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VEHICLE REQUEST</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="row">
            <div class="col-md-12 mt-2">
              <div class="row">
                  <label>NO OF PASSENGERS</label>
                  <input type="text" class="form-control" disabled>
              </div>
              <div class="row">
                  <label>DESTINATION</label>
                  <input type="text" class="form-control" disabled>
              </div>
              <div class="row">
                  <label>PURPOSE</label>
                  <input type="text" class="form-control" disabled>
              </div>
              <div class="row">
                  <label>DATE/S</label>
                  <input type="text" class="form-control" disabled>
              </div>
              <div class="row">
                  <label>REQUEST MADE BY</label>
                  <input type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="col-md-12 mt-2 d-flex justify-content-around">
              <button class="btn btn-success">ACCEPT</button>
              <button class="btn btn-danger">DECLINE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>